<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{{(userToDisplay | async).name}}</h2> <em>{{(userToDisplay | async).title}}</em>
        </div>
        <div class="panel-body">
          <img src="{{(userToDisplay | async).image}}" alt="pic of user">
          <br>
          <strong>User Description:</strong>{{(userToDisplay | async).description}}
          <br>
          <strong>Status:</strong> {{(userToDisplay | async).priority}}
          <br>
          <strong>Website:</strong>{{(userToDisplay | async).website}}
        </div>
      </div>
    </div>
    <!-- <div *ngIf="currentRoute === '/admin'"> -->
      <p>{{user.name}}</p>
      <hr>
      <app-edit-user [selectedUser]="user"></app-edit-user>
    <!-- </div> -->
  </div>
</div>
